<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>DownloadPDF.png</string>
			<key>Shell Script File</key>
			<string>DownloadPDF.sh</string>
			<key>Stoppable</key>
			<true/>
			<key>Title</key>
			<string>DownloadPDF</string>
            <key>After</key>
            <string>show-status</string>
		</dict>
	</array>
    <key>Long Running</key>
    <true/>
    <key>Options</key>
    <array>
        <dict>
            <key>Option Identifier</key>
            <string>givenfolder</string>
            <key>Option Type</key>
            <string>string</string>
            <key>Option Label</key>
            <string>Gvien Folder</string>
        </dict>
    </array>
	<key>Extension Description</key>
    <string>Download the pdf in the selected URL to a given folder (if not exsited,the directory is created)</string>
	<key>Extension Identifier</key>
	<string>com.myextension.DownloadPDF</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>DownloadPDF</string>
	</dict>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
